/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.syrinscape {
  .syrinscape-dialog {
    display       : flex;
    flex-direction: column;

    overflow: hidden;

    .button {
      display        : flex;
      justify-content: center;
      align-items    : center;

      background   : rgba(0, 0, 0, 0.1);
      border       : 1px solid #999;
      border-radius: 3px;
      box-shadow   : 0 0 2px #FFF inset;

      &:hover {
        outline   : none;
        box-shadow: 0 0 5px red;
      }
    }

    .search-bar {
      display: flex;

      margin-bottom: 6px;

      .search {
        flex: 1;

        margin-right: 4px;
      }

      .button {
        flex: 0;

        min-width : 1.5rem;
        min-height: 1.5rem;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }

    .sound-library {
      flex: 1;

      overflow: auto;

      .folder {
        .folder-header {
          display: flex;

          background             : rgba(0, 0, 0, 0.8);
          color                  : whitesmoke;
          font-weight            : bold;
          padding                : 4px 8px;
          border-top-left-radius : 2px;
          border-top-right-radius: 2px;

          .name {
            flex: 1;
          }

          .move {
            margin-right: 6px;
          }

          .move,
          .delete {
            &:hover {
              outline   : none;
              box-shadow: 0 0 5px red;
            }
          }
        }

        .folder-content {
          padding      : 2px;
          padding-left : 8px;
          border       : 1px solid #0000009e;
          border-top   : none;
          margin-bottom: 2px;

          &.empty {
            min-height: 2rem;
          }
        }
      }

      .sound {
        margin: 2px;

        .sound-header {
          display: flex;

          .name {
            flex: 1;

            display    : flex;
            align-items: center;

            font-weight: bold;
          }

          .button {
            flex: 0;

            min-width : 1.5rem;
            min-height: 1.5rem;

            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }

        .sound-body {
          .description {
            overflow     : hidden;
            max-height   : calc(2em + 14px);
            padding      : 6px;
            font-size    : 0.9em;
            font-style   : oblique;
            background   : rgba(0, 0, 0, 0.1);
            border-radius: 3px;

            &.empty {
              padding: 0;
              margin : 0;
            }
          }
        }

        &:not(:first-child) {
          border-top : 1px dashed #00000054;
          padding-top: 6px;
        }
      }

      .sound,
      .folder {
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }

    .actions {
      flex: 0;

      display        : flex;
      justify-content: space-around;

      .button {
        flex       : 1;
        height     : 28px;
        line-height: 26px;
        margin     : 4px;
      }
    }
  }

  .sound-dialog {
    header {
      flex: 0;

      margin-bottom: 10px;
    }

    section {
      flex: 1;

      display       : flex;
      flex-direction: column;

      input:not(:last-child) {
        margin-bottom: 8px;
      }

      textarea {
        flex: 1;

        resize: none;
      }
    }
  }

  .move-dialog {
    .folder {
      .folder-header {
        display: flex;

        background   : rgba(0, 0, 0, 0.8);
        color        : whitesmoke;
        font-weight  : bold;
        padding      : 4px 8px;
        border-radius: 2px;

        .name {
          flex: 1;
        }
      }

      .folder-content {
        padding-top  : 1px;
        padding-left : 8px;
        margin-bottom: 2px;

        .folder:not(:last-child) {
          margin-bottom: 2px;
        }

        &.empty {
          margin : 0;
          padding: 0;
        }
      }

      &.disabled {
        >.folder-header {
          background: rgba(44, 44, 44, 0.8);
          color     : #eaeaea;
        }
      }

      &.active {
        >.folder-header {
          background: rgba(117, 2, 2, 0.8);
        }
      }

      &.disabled,
      &.active {
        >.folder-header {
          a {
            cursor: default;

            &:hover {
              text-shadow: none;
            }
          }
        }
      }
    }
  }
}